<!DOCTYPE html>
<html>
	<head>
		<include file="./Public/Header/header.html,./Public/Header/jquery.html,./Public/Header/mobile.html,./Public/Header/validate.html" />
		<link rel="stylesheet" href="__SCRATCH__/css/scratchStyle.css" />
		<title>兑奖页面</title>
	</head>
<body>
<div id="awardpage" data-role="page" data-theme="c">
	<include file="Public/mobile_header" header="兑奖页面"/>
	<div data-role="content">
		<form id="awardform" method="post" action="{:U('Home/Scratch/awardHandle')}">
			<div data-role="fieldcontain">
  			<label for="sncode">兑奖sncode:</label>
  			<input type="text" name="sncode" id="sncode"  placeholder="请输入您的兑奖sncode">
  			</div>
  			<div data-role="fieldcontain">
  			<label for="qq">QQ号码：</label>
  			<input type="number" name="qq" id="qq"  placeholder="请输入您的密码">
  			</div>
  			<input type="submit" value="兑奖" name="awardbtn" id="awardbtn" data-theme="e">
		</form>
		<div class="boxcontent boxyellow">
		<div class="box">
			<div class="title-brown">
				公告
			</div>
			<div class="Detail">
				尊敬的广大用户们大家好！针对本公众号出现的出现的兑换Q币失败的问题，向大家说一声抱歉！针对此问题我们的团队正在积极的修复中。
				在此期间有兑换Q币失败的情况，请联系我们的<span style="color: red">美女客服（QQ 573395185）</span>，她会收集大家的情况！请大家耐心等待Q币到账。	
			</div>
		</div>
	</div>
	</div>
</div>
<script>
$('#awardpage').bind('pageinit', function(event) {
	$('#awardform').validate({
		submitHandler:function(form) {
			form.submit();
		},
		errorPlacement: function(error, element) {  
		    error.appendTo(element.parent().parent());  
		},
		onfocusout: function(element) { $(element).valid();},
		rules: {
			sncode: {
				required: true,
				remote:"{:U('Home/Scratch/awardHandle')}",
			},
			qq: {
				required: true
			}
		},
		 messages:  {
		sncode: {
			required:"请输入您的兑奖sncode",
			remote:"您输入的sncode有误，请核对！"
		},
		qq: {
			required:"请输入您的QQ号码"
		}
		}	
	});
});
</script>
</body>
</html>